.cards {
  background-color: $semi-white;
  width: auto;
  @media (max-width: 768px) {
    padding: 55px 40px;
  }

  &__header {
    padding: 55px 135px;
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 55px;
    color: $dark-grey;
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 45px;
    }
  }

  &__subtitle {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 30px;
    }
  }

  &__content {
    font-size: 16px;
    line-height: 30px;
    color: $semi-grey;
    padding-top: 15px;
    width: 50%;
    @media (max-width: 768px) {
      width: 85%;
    }
  }

  &__arrows {
    display: flex;

    &--mobile {
      display: none;
    }

    @media (max-width: 768px) {
      display: none;

      &--mobile {
        display: flex;
        margin-top: 45px;
        justify-content: flex-end;
      }
    }
  }

  &__arrow {
    &:hover {
      border: 1px solid $light-orange;

      svg path {
        fill: $light-orange;
      }
    }

    &--left {
      cursor: pointer;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border-style: none;
      background-color: $white;
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
      transform: rotate(-180deg);
      position: relative;
    }

    &--right {
      cursor: pointer;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border-style: none;
      background-color: $white;
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
      transform: rotate(-180deg);
      margin-left: 16px;
    }
  }


  &__options {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    column-gap: 40px;
    align-items: center;
    justify-items: center;
    padding: 0 100px 100px 110px;
    @media (max-width: 768px) {
      padding: 0;
      padding-top: 10%;
      grid-template-columns: 1fr;
    }
    @media (min-width: 767px) and (max-width: 1439px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0;
      padding-bottom: 20px;
      column-gap: 10px;
    }

  }

  &__option {
    width: 380px;
    height: 350px;
    background: $white;
    box-shadow: 0 4px 94px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 20px;
    @media (max-width: 768px) {
      &:not(:first-child) {
        display: none;
      }
      width: 300px;
    }
    @media (min-width: 767px) and (max-width: 1439px) {
      &:last-child {
        display: none;
      }
    }

  }

  &__option-arrow {
    display: flex;
    align-self: end;
    align-items: center;
    text-decoration: none;
    color: $light-orange;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: $dark-grey;

      svg path {
        fill: $dark-grey;
      }
    }
  }

  &__option-arrow svg {
    margin-left: 10px;
  }

  &__button {
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border-style: none;
    font-size: 14px;
    line-height: 27px;
    font-family: $fontPoppins;
    padding-right: 35px;
    cursor: pointer;

    &:hover {
      color: $orange;
      background-color: $white;
    }
  }

  &__button--1 {
    color: #DC0000;
    background: rgba(220, 0, 0, 0.1);
  }

  &__button--2 {
    color: #DC0000;
    background: rgba(176, 0, 220, 0.11);
  }

  &__button--3 {
    color: #0058DC;
    background: rgba(0, 88, 220, 0.09);
  }

  &__option-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;
    color: $black;
  }

  &__option-body {
    font-size: 14px;
    line-height: 27px;
    color: $semi-grey;
    gap: 20px;

    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 22px;
    }
  }

}
