.office {
  padding: 80px 130px;
  width: auto;
  @media (max-width: 768px){
    padding: 50px 40px;
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    color: $dark-grey;
    padding: 0 176px;
    @media (max-width: 768px){
      padding: 0;
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      height: 90px;

    }
    @media (min-width: 767px) and (max-width: 1439px){
      padding: 0;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 55px;
    color: $dark-grey;
    margin-top: 55px;
    @media (max-width: 768px){
      display: none;
    }
  }

  &__body {
    font-size: 16px;
    line-height: 30px;
    color: $semi-grey;
    margin-top: 18px;
    width: 49%;
    @media (max-width: 768px){
      display: none;
    }
  }

  &__pictures {
    position: relative;

  }

  &__points {
    position: absolute;
    top: -15%;
    right: 12%;
    z-index: 1;
    width: 18%;
    height: 35%;
    background: white;
    background-image: radial-gradient($light-orange 3px, transparent 0);
    background-size: 21px 21px;

    @media (max-width: 768px){
      top: -30px;
      right: 5%;
      width: 30%;
      height: 50%;
      background-image: radial-gradient(#DC7000 2px, transparent 0);
      background-size: 15% 15%;
    }
  }

  &__image {
    position: relative;
    margin-top: 55px;
    z-index: 2;
    margin-left: 5px;
    width: 80%;
    img {
      width: 100%;
      @media  (max-width: 1440px){
        border-radius: 5px;
      }
  }
}}
