.options {
  padding: 85px 200px 135px 200px;
  width: auto;

  @media (max-width: 767px) {
    padding: 50px 0;
  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    color: $dark-grey;
    padding: 0 105px;
    @media (max-width: 767px) {
      padding: 0 30px;
      font-size: 20px;
      line-height: 38px;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $dark-grey;
    margin-top: 25px;
    padding: 0 100px;
    @media (max-width: 767px) {
      padding: 0 30px;
      font-size: 12px;
      line-height: 23px;
    }
  }

  &__blocks {
    margin-top: 100px;
    display: grid;
    grid-template-areas:
        "card1 card2 card3 card4"
        ". card5 card6 .";
    grid-template-columns: repeat(4, 250px);
    row-gap: 80px;
    column-gap: 35px;
    @media (max-width: 767px) {
      grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6";
      grid-template-columns: repeat(1, 1fr);

    }
  }

  &__block--card-1 {
    grid-area: card1;
  }

  &__block--card-2 {
    grid-area: card2;
  }

  &__block--card-3 {
    grid-area: card3;
  }

  &__block--card-4 {
    grid-area: card4;
  }

  &__block--card-5 {
    grid-area: card5;
  }

  &__block--card-6 {
    grid-area: card6;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    cursor: pointer;

    &:hover {
      svg path {
        fill: $dark-grey;
      }
    }
  }

  &__block-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $black;

  }

  &__circle {
    align-self: center;
    border-radius: 50%;
    background-color: rgba(220, 112, 0, 0.09);
    width: 65px;
    height: 65px;
  }

}
