.projects {
  padding: 150px 135px;
  width: auto;
  @include mobile {
      margin-top: 60px;
      padding: 0 35px;
  }
  @include tablet {
    padding: 100px 20px;
  }

  &__header {
    text-align: center;

  }

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 47px;
    color: $dark-grey;
    @include mobile {
      padding: 0;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 26px;
    color: $semi-grey;
    padding: 0 330px;
    @include mobile {
      padding: 0;
    }
    @include tablet {
      padding: 0;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    margin-top: 85px;
    @include mobile {
      justify-content: center;
    }
    @include tablet {
      justify-content: center;
    }
  }
  &__image {
    @include mobile {
      &--item-1{
        order: 0
      }
      &--item-2{
        order: 1
      }
      &--item-3{
        order: 3
      }
      &--item-4{
        order: 2
      }
    }
    img{
      width: 100%;
    }
  }
}

