$white: #FFFFFF;
$black: #000000;
$semi-black: #1B1B1B;
$dark-grey: #222222;
$semi-white: #F5F5F5;
$semi-grey: #525252;
$orange: #FB9E3C;
$light-orange: #DC7000;
$fontPoppins: Poppins, Helvetica, Arial, sans-serif;


$tablet: 768px;
$laptop: 1440px;

@mixin mobile {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$laptop - 1px}) {
    @content;
  }
}
